{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block subtitle %}{% endblock %}ReChorder</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static 'rechorder/icons/favicon.ico' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'rechorder/css/main.css' %}?version=3.0.1">

    <script src="{% static 'rechorder/js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'rechorder/js/common.js' %}"></script>

    {% block extrahead %}
    {% endblock %}

    <script type="text/javascript">
        {% block javascript %}
        {% endblock %}
    </script>


</head>
<body>
    <div id="header">
        {% block header %}
        {% endblock %}
    </div>

    <div id="div-title">
        {% block title %}
        {% endblock %}
    </div>

    <div id="div-content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
