<script type="text/javascript">
    function do_change() {
        $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            url: '{% url 'beaming.toggle' %}',
            data: {
                'enable': $(this).is(':checked'),
                'set_pk': '{{ set_pk }}',
                'song_index': '{{ song_index }}',
            },
            dataType: 'json',
        });
    }

    $(function() {
        $('#beaming-toggle-switch').click(do_change);
    });
</script>


<label class="toggle-switch">
    <input type="checkbox" id="beaming-toggle-switch" {% if beaming_enabled %}checked{% endif %}>
    <span class="toggle-slider round"></span>
</label>
