{% load static %}

<div id="div-header">
    <div id="div-header-images">
        <a href="{{ header_link_back }}">
            <img
                    id="img-header-back"
                    src="{% static 'rechorder/icons/mdi-chevron-left-box-outline.svg' %}"
            >
        </a>

        <a href="{{ header_link_songs }}" {% if selected == 'songs' %}class="selected"{% endif %}>
            <img
                    id="img-header-songs"
                    src="{% static 'rechorder/icons/mdi-format-list-bulleted-square.svg' %}"
            >
        </a>

        <a href="{{ header_link_set }}" {% if selected == 'set' %}class="selected"{% endif %}>
            <img
                    id="img-header-set"
                    src="{% static 'rechorder/icons/mdi-playlist-music-outline.svg' %}"
            >
        </a>

        <a href="{{ header_link_receive }}" {% if selected == 'receive' %}class="selected"{% endif %}>
            <img
                    id="img-header-receive"
                    src="{% static 'rechorder/icons/mdi-cellphone-text.svg' %}"
            >
        </a>

        {% if user.is_admin %}
            <a href="{{ header_link_users }}" {% if selected == 'users' %}class="selected"{% endif %}>
                <img
                        id="img-header-users"
                        src="{% static 'rechorder/icons/mdi-account-multiple-outline.svg' %}"
                >
            </a>
        {% endif %}

        <a href="{{ header_link_settings }}" {% if selected == 'settings' %}class="selected"{% endif %}>
            <img
                    id="img-header-settings"
                    src="{% static 'rechorder/icons/mdi-cog-outline.svg' %}"
            >
        </a>
    </div>
</div>
