{% load static %}

<script type="text/javascript">

    function saveNotes() {
        var notes = $('#notes-textarea').val().trim();
        $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            url: '{% url 'item_in_set.update_notes' item_in_set.id %}',
            data: {
                'notes': notes,
            },
            dataType: 'json',
            success: function(data) {
                if (data["success"])
                {
                    updateNotesOnPage();
                }
            },
        });
    }

    function clearNotes() {
        $('#notes-textarea').val("");
        saveNotes();
    }

    function updateNotesOnPage() {
        var notes = $('#notes-textarea').val().trim();
        $("#notes-text").html(notes.replaceAll(/&/g, '&amp;')
                                   .replaceAll(/>/g, '&gt;')
                                   .replaceAll(/</g, '&lt;')
                                   .replaceAll(/"/g, '&quot;')
                                   .replaceAll(/'/g, '&apos;')
                                   .replaceAll('\n', '<br />'));
        if (notes == "")
        {
            $("#notes-section-container").hide();
        }
        else {
            $("#notes-section-container").show()
        }
    }

    $(function() {
        $("#btn-notes-editor-save").click(saveNotes);
        $("#btn-notes-editor-clear").click(clearNotes);
        updateNotesOnPage();
    });
</script>

<h2>Edit Notes:</h2><br>
<form>
    <textarea class="notes-textarea" id="notes-textarea">{{ notes }}</textarea>
    <br>
    <div class=editor-buttons">
        <button id="btn-notes-editor-save" type="button">Save</button>
        <button id="btn-notes-editor-clear" type="button">Clear</button>
    </div>
</form>
