{% load rechorder_tags %}

{% for section in song.sections %}
    <h3 class="section-title">{{ section.title }}</h3>
    {% for line in section.lines %}
        <div class="container">
        {% for block in line %}
            <div class="block">
                <div class="block-chord"><mark>{{ block.chord.id }}<sup>{{ block.chord.quality }}</sup>{{ block.chord.formatted_bass_note }}</mark></div><div class="block-lyric">{{ block.lyric | safe}}</div></div>
        {% endfor %}
        </div>
    {% endfor %}
{% endfor %}
