{% load static %}

<script type="text/javascript">
    function saveSong() {
        validateOrder();
        $('#areyousure').hide();
        $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            url: '{% url 'song.update' song.id %}',
            data: {
                'title': $('#editor-song-title').val(),
                'artist': $('#editor-song-artist').val(),
                'original_key': $('#editor-original-key').val(),
                'key_notes': $('#editor-key-notes').val(),
                'verse_order': $('#editor-verse-order').val(),
                'content': $('#editor-song-content').val(),
            },
            dataType: 'json',
            success: function(data) {
                $('#success').show();
                transposeSettingsChanged();
            },
        });
    }

    function validateOrder() {
        verse_order = $('#editor-verse-order').val();
        var problem = false;
        var feedback_obj = $('#verse-order-error-list');
        feedback_obj.empty();

        if (verse_order.trim() != "")
        {

            var verses_in_order = new Object();
            verse_order.split(' ').forEach((i) => {
                verses_in_order[i] = 0;
            });
            console.log(verses_in_order);

            const regex = /\{[a-zA-Z0-9]+\}/g;
            searchtext = $('#editor-song-content').val();

            while (result = regex.exec(searchtext)) {
                section = result[0].replace('{', '').replace('}','');
                if (!(section in verses_in_order)) {
                    problem = true;
                    feedback_obj.append("<li>Section " + section + " not found in verse order</li>");
                } else {
                    verses_in_order[section]++;
                }
            }

            for (const [ i, v ] of Object.entries(verses_in_order)) {
                if (v == 0) {
                    problem = true;
                    feedback_obj.append("<li>Section " + i + " not found in song</li>");
                }
            }

        }
        console.log(problem);
        if (problem) {
            $('#verse-order-error').show();
        }
        else
        {
            $('#verse-order-error').hide();
        }
    }

    function deleteSong() {
        $('#areyousure-message').text(
            "Are you sure you want to delete this song? This is non-reversible."
        );

        $('#btn-ays-yes').click(function() {
            $.ajax({
                type: 'POST',
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                url: '{% url 'song.delete' song.id %}',
                dataType: 'json',
                success: function() {
                    window.location = "{% url 'songs' %}";
                },
            });
        });
        $('#btn-ays-no').click(function () {
            $('#areyousure').hide();
        });
        $('#areyousure').show();
    }

    function onEdit() {
        $('#areyousure').hide();
        $('#success').hide();
    }

    function cancelEdit() {
        location.reload();
    }

    function lockKey() {
        $('#btn-key-unlocked').hide();
        $('#btn-key-locked').show();
        $('#editor-original-key').prop("disabled", true);
    }

    function unlockKey() {
        $('#btn-key-locked').hide();
        $('#btn-key-unlocked').show();
        $('#editor-original-key').prop("disabled", false);
    }

    $(function() {
        $('#editor-song-title').val("{{ song.title|escapejs }}");
        $('#editor-song-artist').val("{{ song.artist|escapejs }}");
        $('#editor-original-key').val("{{ song.original_key }}");
        $('#editor-key-notes').val("{{ song.key_notes|escapejs }}");
        $('#editor-verse-order').val("{{ song.verse_order|escapejs }}");
        $('#editor-song-content').val("{{ song.raw|escapejs }}");

        $('#btn-editor-save').click(saveSong);
        $('#btn-editor-delete').click(deleteSong);
        $('#btn-editor-cancel').click(cancelEdit);

        $('#areyousure').hide();
        $('#success').hide();
        $('#verse-order-error').hide();

        $('#editor-song-title').focus(onEdit);
        $('#editor-song-artist').focus(onEdit);
        $('#editor-original-key').focus(onEdit);
        $('#editor-key-notes').focus(onEdit);
        $('#editor-song-content').focus(onEdit);

        $('#editor-original-key').prop("disabled", true);
        $('#btn-key-unlocked').hide();
        $('#btn-key-unlocked').click(lockKey);
        $('#btn-key-locked').click(unlockKey);

        validateOrder();
    });
</script>


<form>
    <table>
        <tr><td>Title: </td><td><input id="editor-song-title"></td></tr>
        <tr><td>Artist: </td><td><input id="editor-song-artist"></td></tr>
        <tr>
            <td>Original Key:</td>
            <td>
                <select id="editor-original-key">
                    {% for key in keys %}
                        <option value="{{ forloop.counter0 }}">{{ key }}</option>
                    {% endfor %}
                </select>
                <button type="button" id="btn-key-locked" class="img-btn-header">
                    <img src="{% static 'rechorder/icons/mdi-lock.svg' %}">
                </button>
                <button type="button" id="btn-key-unlocked" class="img-btn-header">
                    <img src="{% static 'rechorder/icons/mdi-lock-open-variant.svg' %}">
                </button>
            </td>
        </tr>
        <tr><td>Advice on key: </td><td><input id="editor-key-notes"></td></tr>
        <tr><td>Verse order: </td><td><input id="editor-verse-order"></td></tr>
    </table>
    <div id="verse-order-error" class="error-box"><h2>Errors in verse order:</h2><br><ul id="verse-order-error-list"></ul></div>
    <textarea class="song-content-edit" id="editor-song-content"></textarea>
    <br>

    <div id="editor-buttons">
        <div>
            <button id="btn-editor-save" type="button">Save</button>
            <button id="btn-editor-cancel" type="button">Cancel</button>
        </div>
        <button id="btn-editor-delete" type="button">Delete</button>
    </div>

    <span id="success">Song updated successfully</span>
    <span id="areyousure">
        <span id="areyousure-message"></span>
        <button id="btn-ays-yes" type="button">Yes</button>
        <button id="btn-ays-no" type="button">No</button>
    </span>

</form>

{% include 'rechorder/_syntax_help.html' %}