{% load static %}
{% load rechorder_tags %}

{# Requires keys, song, chord_shapes, frets, cnotes #}

{{ key_details|json_script:"init_key_details" }}

<script type="text/javascript">
    /* Effectively a global variable to keep track of the current state - is there a better way? */
    current_transposition = 'sk';

    function updateSong(data) {
        /* Data should contain object with song_html and key_index */
        $('#song').html(data.song_html);
        setTransposeUi(data.key_details);
        $('#song-title').text(data.song_meta.title);
        $('#song-artist').text(data.song_meta.artist);
        fsGo();
    }

    function setTransposeUi(key_details) {
        $('#tran-sk-key').val(key_details.sounding_key_index)
        $('#tran-gc-capo').val(key_details.capo_fret_number)
        $('#tran-abs-sel').val(key_details.key_index);

        $('#key-info-sounding-key').text(n2c(key_details.sounding_key_index));
        $('#key-info-key-shown').text(n2c(key_details.key_index));
        $('#key-info-capo-index').text(key_details.capo_fret_number)

        $('.key-info-sounding-key').each(function() {
            $(this).text(n2c(key_details.sounding_key_index));
        });

        $('#key-info-capo').hide();

        switch (key_details.transpose_data['adv-tran-opt']) {
            case 'sk':
            default:
                break;
            case 'cs':
                $('#key-info-capo').show();
                $('#tran-cs-shape').val(key_details.key_index);
                break;
            case 'acs':
                $('#key-info-capo').show();
                $('#tran-cs-shape').val(key_details.key_index);
                break;
            case 'gc':
                $('#key-info-capo').show();
                break;
            case 'ti':
                $('#tran-ti-cnote').val(key_details.transpose_data['transposing-cnote']);
                break;
            case 'abs':
                $('#tran-abs-sel').val(key_details.transpose_data['absolute-force-index']);
                break;
        }

        enableAndDisableTransposeFields(key_details.transpose_data['adv-tran-opt']);
    }

    function enableAndDisableTransposeFields(transpose_type) {
        selected_classname = "tran-selected";
        enabled_classname = "tran-option-enabled";
        disabled_classname = "tran-option-disabled";

        /* Disable all */
        $('#tran-cs-sel-wrapper').addClass(disabled_classname);
        $('#tran-cs-sel-wrapper').removeClass(enabled_classname);
        $('#tran-gc-sel-wrapper').addClass(disabled_classname);
        $('#tran-gc-sel-wrapper').removeClass(enabled_classname);
        $('#tran-ti-sel-wrapper').addClass(disabled_classname);
        $('#tran-ti-sel-wrapper').removeClass(enabled_classname);
        $('#tran-abs-sel-wrapper').addClass(disabled_classname);
        $('#tran-abs-sel-wrapper').removeClass(enabled_classname);

        /* Deselect all */
        $('#tran_sk').removeClass(selected_classname);
        $('#tran_cs').removeClass(selected_classname);
        $('#tran_acs').removeClass(selected_classname);
        $('#tran_gc').removeClass(selected_classname);
        $('#tran_ti').removeClass(selected_classname);
        $('#tran_abs').removeClass(selected_classname);

        /* Re-enable relevant line */
        switch (transpose_type) {
            case 'sk':
                $('#tran_sk').addClass(selected_classname);
                break;
            case 'cs':
                $('#tran_cs').addClass(selected_classname);
                $('#tran-cs-sel-wrapper').removeClass(disabled_classname);
                $('#tran-cs-sel-wrapper').addClass(enabled_classname);
                break;
            case 'acs':
                $('#tran_acs').addClass(selected_classname);
                break;
            case 'gc':
                $('#tran_gc').addClass(selected_classname);
                $('#tran-gc-sel-wrapper').removeClass(disabled_classname);
                $('#tran-gc-sel-wrapper').addClass(enabled_classname);
                break;
            case 'ti':
                $('#tran_ti').addClass(selected_classname);
                $('#tran-ti-sel-wrapper').removeClass(disabled_classname);
                $('#tran-ti-sel-wrapper').addClass(enabled_classname);
                break;
            case 'abs':
                $('#tran_abs').addClass(selected_classname);
                $('#tran-abs-sel-wrapper').removeClass(disabled_classname);
                $('#tran-abs-sel-wrapper').addClass(enabled_classname);
                break;
        }
    }

    function transposeSettingsChanged(data) {
        if ($(this).is('button')) {
            element_id = $(this).attr('id');
            current_transposition = element_id.split("_")[1];
            enableAndDisableTransposeFields(current_transposition);
        }

        $.ajax({
            url: '{% url 'song.transpose' %}',
            type: 'POST',
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            data: {
                'song_id': {{ song.id }},
                {% if set_id %}
                    'sounding_key_index': "{{ key_details.sounding_key_index }}",
                    'set_id': "{{ set_id }}",
                    'song_in_set_index': "{{ current_index }}",
                {% endif %}
                'transpose_data': JSON.stringify(getTransposeData(current_transposition)),
            },
            success: updateSong,
        });
    }

    function getTransposeData(transposition) {
        data = {};
        {% if not set_id %}
            // We're not in a set, so get the sounding key info
            data['sounding-key'] = $('#tran-sk-key').val();
        {% endif %}

        data['adv-tran-opt'] = transposition;
        switch (transposition) {
            case 'cs':
                data['chord-shape-index'] = $('#tran-cs-shape').val();
                break;
            case 'gc':
                data['capo-fret-number'] = $('#tran-gc-capo').val();
                break;
            case 'ti':
                data['transposing-cnote'] = $('#tran-ti-cnote').val();
                break;
            case 'abs':
                data['absolute-force-index'] = $('#tran-abs-sel').val();
                break;
        }

        return data;
    }

    $(function() {
        $('#transposer-div button').each(function() {
            $(this).click(transposeSettingsChanged);
        });

        $('#transposer-div select').each(function() {
            $(this).change(transposeSettingsChanged);
        });

        setTransposeUi(JSON.parse($('#init_key_details').text()));
    });
</script>


<div id='transposer-div' class="transposer">
    {% if not set_id %}
        <h2><p class="left-and-right">
            <span>Sounding key
                {% if sk_editable != 'true' %}
                    <span id="sk-read-only">{{ key_details.sounding_key_index|num2chord }}</span>
                {% endif %}
            </span>
            <span>
                {% if sk_editable == 'true' %}
                    <select id="tran-sk-key" name="sounding-key">
                    {% for key in keys %}
                        <option value="{{ forloop.counter0 }}">{{ key }}</option>
                    {% endfor %}
                    </select>
                {% endif %}
            </span>
        </p></h2>

        {% if song.key_notes.strip %}
            Key advice: {{ song.key_notes }}
        {% endif %}
        <hr />
    {% endif %}

    <div class="tran-option-container">
        <button id="tran_sk">Display in sounding key (<span class="key-info-sounding-key"></span>)</button>
    </div>

    <div class="tran-option-container">
        <button id="tran_acs">Auto chord shapes</button>
    </div>

    <div class="tran-option-container">
        <button id="tran_cs">Chord shapes</button>
        <span class="tran-select-wrapper" id="tran-cs-sel-wrapper">
            <select id="tran-cs-shape" name="chord-shape-index">
                {% for shape in chord_shapes %}
                    {% if shape.index == -1 %}
                        <option disabled>──────────</option>
                    {% else %}
                        <option value="{{ shape.index }}">{{ shape.name }} shapes</option>
                    {% endif %}
                {% endfor %}
            </select>
        </span>
    </div>

    <div class="tran-option-container">
        <div class="tran-btn-wrapper">
            <button id="tran_gc">Capo on</button>
        </div>

        <div class="tran-select-wrapper" id="tran-gc-sel-wrapper">
            <select id="tran-gc-capo" name="capo-fret-number">
                {% for fret in frets %}
                    <option value="{{ fret }}">Fret {{ fret }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="tran-option-container">
        <div class="tran-btn-wrapper">
            <button id="tran_ti">Instrument in</button>
        </div>
        <div class="tran-select-wrapper" id="tran-ti-sel-wrapper">
            <select id="tran-ti-cnote" name="transposing-cnote">
                {% for cnote in cnotes %}
                    <option value="{{ cnote.index }}">{{ cnote.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!--<p class="left-and-right">-->
    <div class="tran-option-container">
        <div class="tran-btn-wrapper">
            <button id="tran_abs">Force key to</button>
        </div>
        <div class="tran-select-wrapper" id="tran-abs-sel-wrapper">
            <select id="tran-abs-sel" name="absolute-force-index">
            {% for key in keys %}
                <option value="{{ forloop.counter0 }}">{{ key }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
</div>
