{% extends 'rechorder/_base.html' %}
{% load static %}
{% load humanize %}

{% block subtitle %}
    Receive a beam -
{% endblock %}

{% block header %}
    {% include 'rechorder/_header.html' with selected="receive" %}
{% endblock %}

{% block title %}
    <h1>Beaming sets</h1><br>
    <h2>Follow someone else's set</h2>
{% endblock %}

{% block content %}
    <ul class="main-content-list">
        {% for master in masters %}
            <li id="song-in-list">
                <div class="list-expander">
                    <a href="{% url 'slave_to' master.pk %}">
                        <span class="list-primary">{{ master.set.name }}</span><br>
                        <span class="list-secondary">Beamed by: {{ master.beamer_device_name }}</span><br>
                        <span class="list-tertiary">last used {{ master.last_updated|naturaltime }}</span>
                    </a>
                </div>
                <div>
                    <a href="{% url 'set.print' master.set.pk %}">
                        <img class="img-btn" src="{% static 'rechorder/icons/mdi-printer.svg' %}">
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>

    <button onclick="history.go(0);">Refresh list</button>
{% endblock %}
