{% extends 'rechorder/_base.html' %}
{% load static %}

{% block subtitle %}
    Settings -
{% endblock %}

{% block javascript %}
    function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }

    function update() {
        $.ajax({
        url: '{% url 'settings.set' %}',
        type: 'POST',
        headers: { "X-CSRFToken": '{{ csrf_token }}' },
        data: {
            'permitted_shapes': JSON.stringify(getFormData($('#shape-selection'))),
            'display_style': $('#chord-display-style').val(),
            'opt_line_breaks': JSON.stringify($('#opt-line-breaks').prop('checked')),
            'display_full_song_order': JSON.stringify($('#section-disp-ord').prop('checked')),
            'device_name': $('#text-device-name').val(),
        },
    });
    }

    $(function() {
        $('.pressable').each(function(index) {
            $(this).change(update);
            $(this).prop('checked', false);
        });

        $('#chord-display-style').change(update);
        $('#opt-line-breaks').click(update);
        $('#section-disp-ord').click(update);
        $('#btn-device-name-save').click(update);

        {% for index in selected_shapes %}
            $('#check-{{ index }}').prop('checked', true);
        {% endfor %}

        $('#chord-display-style').val("{{ chord_display_style }}");
        $('#text-device-name').val("{{ device_name|escapejs }}");

        $('#btn-download-xml').click(function() {
            window.location.href = "{% url 'songs.download_xml' %}";

        });
    });
{% endblock %}

{% block header %}
    {% include 'rechorder/_header.html' with selected="settings" %}
{% endblock %}

{% block title %}
    <h1>Settings</h1>
{% endblock %}

{% block content %}
    <div class="settings-section">
        {% include 'rechorder/_user_login.html' %}

    </div>
    <div class="settings-section">
        <h1 class="section-title">
            <p class="left-and-right">
                <span>Beaming</span>
                <span>{% include 'rechorder/_beaming_toggle.html' %}</span>
            </p>
        </h1>

        <p>
        <form id="device-name">
            <input id="text-device-name">
            <p><button type="button" id="btn-device-name-save">Save device name</button>
        </form>
    </div>
    <div class="settings-section">
        <h1 class="section-title">Song Display Settings</h1>
        <h2><p class="left-and-right">
            <span>Chord display style</span>
            <span>
                <select id="chord-display-style" name="chord-shape-index">
                    <option value="letters">Letters</option>
                    <option value="nashville">Nashville</option>
                    <option value="roman">Roman Numerals</option>
                </select>
            </span>
        </p></h2>

        <p>
        <h2><p class="left-and-right">
            <span>Optional Line Breaks</span>
            <span>
                <label class="toggle-switch">
                    <input type="checkbox" id="opt-line-breaks" {% if opt_line_breaks %}checked{% endif %}>
                    <span class="toggle-slider round"></span>
                </label>
            </span>
        </p></h2>

        <p>
        <h2><p class="left-and-right">
            <span>Show Full Song Order</span>
            <span>
                <label class="toggle-switch">
                    <input type="checkbox" id="section-disp-ord" {% if display_full_song_order %}checked{% endif %}>
                    <span class="toggle-slider round"></span>
                </label>
            </span>
        </p></h2>
    </div>

    <div class="settings-section">
        <h1 class="section-title">Auto Chord Shapes</h1>
        <h2>Enabled keys</h2>

        <form id="shape-selection" class="settings-boxes">
            <ul class="yes-no-selection">
                {% for shape in possible_shapes %}
                    <li>
                        <input class="pressable" type="checkbox" id="check-{{ shape.index }}" name="{{ shape.index }}">
                        <label for="check-{{ shape.index }}" class="key-label">{{ shape.name }}</label>
                    </li>
                {% endfor %}
            </ul>
        </form>
    </div>

    <div class="settings-section">
        <h1 class="section-title">OpenLP Download</h1>

        <h2><p class="left-and-right">
            <span>Download all songs in OpenLyric format</span>
            <span>
                <a class="img-btn" href="{% url 'songs.download_xml' %}">
                    <img src="{% static 'rechorder/icons/mdi-file-download-outline.svg' %}">
                </a>
            </span>
        </p></h2>
    </div>
{% endblock %}
