{% extends 'rechorder/_base.html' %}
{% load static %}

{% block subtitle %}
    Create Song -
{% endblock %}

{% block javascript %}
    function saveSong() {
        $('#btn-create').html('Creating...');
        $('#btn-create').prop('disabled', true);
        $('#areyousure').hide();
        $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            url: '{% url 'song.create' %}',
            data: {
                'title': $('#song-title').val(),
                'artist':  $('#song-artist').val(),
                'ccli_number':  $('#song-ccli-number').val(),
                'original_key':  $('#original-key').val(),
                'key_notes': $('#editor-key-notes').val(),
                'verse_order': $('#editor-verse-order').val(),
                'content':  $('#song-content').val(),
            },
            dataType: 'json',
            success: function(data) {
                if (data.success == true) {
                    window.location = data.new_song_url;
                }
            },
        });
    }

    function cancelEdit() {
        $('#areyousure-message').text(
            "Are you sure you want to cancel? This will lose any changes you had made."
        );

        $('#btn-ays-yes').click(function() {
            window.location = "{% url 'songs' %}";
        });
        $('#btn-ays-no').click(function () {
            $('#areyousure').hide();
        });
        $('#areyousure').show();
    }

    $(function() {
        $('#btn-create').click(saveSong);
        $('#btn-cancel').click(cancelEdit);

        $('#areyousure').hide();
        $('#success').hide();
    });
{% endblock %}

{% block header %}
    {% include 'rechorder/_header.html' with selected="songs" %}
{% endblock %}

{% block title %}
    <h1>Create Song</h1>
{% endblock %}

{% block content %}




    <table>
        <tr><td>Title: </td><td><input id="song-title"></td></tr>
        <tr><td>Artist: </td><td><input id="song-artist"></td></tr>
        <tr><td>CCLI Number: </td><td><input id="song-ccli-number" type="number" class="no-spinner"></td></tr>
        <tr><td>Original Key:</td>
        <td><select id="original-key">
            {% for key in keys %}
                <option value="{{ forloop.counter0 }}">{{ key }}</option>
            {% endfor %}
        </select></td></tr>
        <tr><td>Advice on key: </td><td><input id="editor-key-notes"></td></tr>
        <tr><td>Verse order: </td><td><input id="editor-verse-order"></td></tr>
        <tr><td>Song content:</td></tr>
    </table>
    <textarea class="song-content-edit" id="song-content"></textarea>
    <br>
    <div class="editor-buttons">
        <button id="btn-create">Create</button>
        <button id="btn-cancel">Cancel</button>
    </div>
    <div class="editor-feedback">
        <span id="areyousure">
            Are you sure you want to cancel creation? This will lose any changes you had made.
            <button id="btn-ays-yes">Yes</button>
            <button id="btn-ays-no">No</button>
        </span>
    </div>

{% include 'rechorder/_syntax_help.html' %}

{% endblock %}
