{% extends 'rechorder/_base.html' %}
{% load static %}
{% load rechorder_tags %}

{% block subtitle %}
    Songs -
{% endblock %}

{% block javascript %}
    var current_key_filter = -1;

    function toggleTab(tab) {
        $('#areyousure').hide();
        $('#success').hide();

        if (tab != 'editor') {
            $('#editor').hide();
            $('#btn-toggle-editor').removeClass('img-action-selected');
        }

        $('#' + tab).toggle();
        $('#btn-toggle-' + tab).toggleClass('img-action-selected');
    }

    {% if current_set_id >= 0 %}
        function addSongToSet() {
            source_element = event.srcElement
            song_id = source_element.id.split("-")[2];
            var data = {'song_id': song_id, 'go_live': false};

            $.ajax({
                type: 'POST',
                url: '{% url 'set.add_song' current_set_id %}',
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                data: data,
                dataType: 'json',
                success: function() {
                    $("#img-addsongtoset-" + song_id).hide();
                    $("#img-removesongfromset-" + song_id).show();
                },
            });
        }

        function removeSongFromSet() {
            source_element = event.srcElement
            song_id = source_element.id.split("-")[2];
            var data = {'song_id': song_id};

            $.ajax({
                type: 'POST',
                url: '{% url 'set.remove_song' current_set_id %}',
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                data: data,
                dataType: 'json',
                success: function() {
                    $("#img-removesongfromset-" + song_id).hide();
                    $("#img-addsongtoset-" + song_id).show();
                },
            });
        }
    {% endif %}

    function setUpAlphabetIndex() {
        var previous = "";

        $("#songlist li").each(function() {
            var current = $(this).text()[0];
            if (current != previous) {
                $(this).attr("id", "first_letter_" + current);
                previous = current;
                $("#alphabet").append("<a href='#first_letter_" + current + "'>" + current + "</a>&nbsp;");
            }
        });
    }

    function filterByKey(key, btn) {
        for (let i = 0; i < 12; i++)
        {
            $('#filterByKey' + i).removeClass("key-filter-button-selected");
        }

        if (key == current_key_filter) {
            current_key_filter = -1;
            $("#songlist li").filter(function() {
                $(this).toggle(true);
            });
        }
        else {
            current_key_filter = key;
            btn.addClass("key-filter-button-selected");
            $("#songlist li").filter(function() {
                $(this).toggle($(this).find('.song-key-index').text() == key)
            });
        }
    }

    function highlightLastViewedSong() {
        last_song_num = window.location.hash.substring(1).substring(4);
        $('#song-' + last_song_num).addClass('highlighted-song');
        setTimeout(function() {$('#song-' + last_song_num).removeClass('highlighted-song');}, 1000);
    }

    $(document).ready(function(){
        $("#filtertext").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#songlist li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        setUpAlphabetIndex();

        /* Set up key filters */
        for (let i = 0; i < 12; i++)
        {
            $('#filterByKey' + i).click(function() {filterByKey(i, $(this));});
        }

        $('.add-song-to-set-button').on('click', function() {addSongToSet()});
        $('.remove-song-from-set-button').on('click', function() {removeSongFromSet()});

        $('#filters').hide();
        $('#btn-toggle-filters').click(function() {toggleTab('filters');});

        highlightLastViewedSong();
    });

{% endblock %}

{% block header %}
    {% include 'rechorder/_header.html' with selected="songs" %}
{% endblock %}

{% block title %}

    <a href="{% url 'song.create' %}">
        <img class="img-actions right-aligned-img" src="{% static 'rechorder/icons/mdi-file-plus-outline.svg' %}">
    </a>

    <h1>Songs</h1><br>

    <ul class="tab-list">
        <li>
            <img class="img-actions" id="btn-toggle-filters" src="{% static 'rechorder/icons/mdi-filter-outline.svg' %}">
        </li>
    </ul>

    <div class="tab-container" id="filters" hidden>
        <h2>Filters</h2><br>
        <table>
            <tr>
                <td><h3>Title:</h3></td><td><input id="filtertext" /></td>
            </tr>
            <tr>
                <td>
                    <h3>Key Filter:</h3>
                </td>
                <td>
                    <div id="key-filter-list">
                        {% for key in keys %}
                            <!-- TODO: Re-implement this with radio buttons! -->
                            <button class="key-filter-button" id="filterByKey{{ forloop.counter0 }}">{{ key }}</button>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block content %}

    <ul id="songlist" class="main-content-list">
        {% for song in songs %}
        <li>
            <div class="song-list-song-container" id="song-{{ song.id }}">
                <div class="song-list-song-details">
                    <span class="song-anchor"><a name="song{{ song.id }}"></a></span>
                    <a href="{% url 'song' song.id %}">
                        <div class="song-in-list">
                            <span class="list-primary">{{ song }}</span><br>
                            <span class="list-secondary">{{ song.artist }}</span>
                            <span class="song-key-index" style="display: none">{{ song.original_key }}</span>
                        </div>
                    </a>
                </div>
                {% if current_set_id >= 0 %}
                    <div class="song-list-add-to-set">
                        <!-- The format of this ID is important,
                            do not change unless you also change the addSongToSet function -->
                            <input type='image' id="img-addsongtoset-{{ song.id }}"
                                    class="add-song-to-set-button"
                                    src="{% static 'rechorder/icons/mdi-playlist-plus.svg' %}"
                                    {% if song.id in song_ids_in_set %}
                                        style="display: none"
                                    {% endif %}
                                    >
                            <input type='image' id="img-removesongfromset-{{ song.id }}"
                                    class="remove-song-from-set-button"
                                    src="{% static 'rechorder/icons/mdi-playlist-check.svg' %}"
                                    {% if song.id not in song_ids_in_set %}
                                        style="display: none"
                                    {% endif %}
                                    >
                    </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
