{% extends 'rechorder/_base.html' %}
{% load static %}

{% block subtitle %}
    {{ song.title }} -
{% endblock %}

{% block javascript %}
    {% if current_set is not None %}
        function addSongToSet(go_live) {
            var data = {'song_id': {{ song.pk }}};
            if (go_live) {
                data.go_live = true;
            }

            $.ajax({
                type: 'POST',
                url: '{% url 'set.add_song' current_set.pk %}',
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                data: data,
                dataType: 'json',
                success: function(data) {
                    if (data.redirect) {
                        window.location = data.redirect;
                    }
                    else {
                        $('#btn-song-add-to-set').addClass('btn-successful');
                        $('#btn-song-add-to-set').text('Song added');
                    }
                }
            });
        }
    {% endif %}

    function toggleTab(tab) {
        if (tab != 'transposer') {
            $('#transposer').hide();
            $('#btn-toggle-transposer').removeClass('img-action-selected');
        }

        if (tab != 'editor') {
            $('#editor').hide();
            $('#btn-toggle-editor').removeClass('img-action-selected');
        }

        if (tab != 'adder') {
            $('#adder').hide();
            $('#btn-toggle-adder').removeClass('img-action-selected');
        }

        if (tab != 'font-resizer') {
            $('#font-resizer').hide();
            $('#btn-toggle-font-resizer').removeClass('img-action-selected');
        }

        $('#' + tab).toggle();
        $('#btn-toggle-' + tab).toggleClass('img-action-selected');
    }

    $(function() {
        $('#adder').hide();
        $('#btn-toggle-adder').click(function() {toggleTab('adder');});

        $('#editor').hide();
        $('#btn-toggle-editor').click(function() {toggleTab('editor');});

        $('#transposer').hide();
        $('#btn-toggle-transposer').click(function() {toggleTab('transposer');});

        $('#font-resizer').hide();
        $('#btn-toggle-font-resizer').click(function() {toggleTab('font-resizer');});

        $('#btn-song-add-to-set').click(function() {addSongToSet(false);});
        $('#btn-song-add-and-go').click(function() {addSongToSet(true);});
        $('#add-actions-success').hide();

        document.onkeydown = processKeyPress;
    });
{% endblock %}

{% block header %}
    {% include 'rechorder/_header.html' with selected="songs" %}
{% endblock %}

{% block title %}
    <a href="{% url 'song.print' song.id %}">
        <img class="img-btn right-aligned-img"
             src="{% static 'rechorder/icons/mdi-printer.svg' %}">
    </a>

    <div id="song-title-container">
        {% include 'rechorder/_song_title.html' %}
    </div>

    <ul class="tab-list">
        <li>
            <img class="img-actions" id='btn-toggle-adder' src="{% static 'rechorder/icons/mdi-playlist-plus.svg' %}">
        </li><li><img class="img-actions"
                    id="btn-toggle-transposer" src="{% static 'rechorder/icons/mdi-music-accidental-natural.svg' %}">
        </li><li>
            <img class='img-actions' id="btn-toggle-font-resizer" src="{% static 'rechorder/icons/mdi-format-font.svg' %}">
        </li><li>
            <img class='img-actions' id="btn-toggle-editor" src="{% static 'rechorder/icons/mdi-pencil-outline.svg' %}">
        </li>
    </ul>

    <div class="tab-container" id="adder" hidden>
        <div class="centred-div">
            {% if set_is_editable %}
                <ul>
                    <li>
                        <button id="btn-song-add-to-set">Add to set list "{{ current_set.name }}"</button>
                    </li>
                    <li><button id="btn-song-add-and-go">Add and go live</button></li>
                </ul>
            {% elif current_set.pk is not None %}
                You do not own the current set "{{ current_set.name }}".
                Please <a href="{% url 'set.duplicate' current_set.pk %}">make a copy</a> before editing
            {% else %}
                You need to <a href="{% url 'set.new' %}">create</a> or <a href="{% url 'sets' %}">open</a> a set before adding a song to one!
            {% endif %}
        </div>
    </div>

    <div class="tab-container" id="transposer" hidden>
        {% include 'rechorder/_transposer.html' with sk_editable='true' %}
    </div>

    <div class="tab-container" id="editor" hidden>
        {% include 'rechorder/_song_edit.html' %}
    </div>

    <div class="tab-container" id="font-resizer" hidden>
    {% include 'rechorder/_font_resizer.html' %}
    </div>
{% endblock %}

{% block content %}
    <div id="song">
        {% include 'rechorder/_print_song.html' %}
    </div>
{% endblock %}
