{% extends 'rechorder/_base.html' %}
{% load static %}
{% load rechorder_tags %}

{% block subtitle %}
    Songs -
{% endblock %}

{% block javascript %}
    var current_key_filter = -1;
    var current_tag_incl_filters = [];
    var current_tag_excl_filters = [];

    function toggleTab(tab) {
        $('#areyousure').hide();
        $('#success').hide();

        if (tab != 'editor') {
            $('#editor').hide();
            $('#btn-toggle-editor').removeClass('img-action-selected');
        }

        $('#' + tab).toggle();
        $('#btn-toggle-' + tab).toggleClass('img-action-selected');
    }

    {% if current_set_id >= 0 %}
        function addSongToSet() {
            source_element = event.srcElement
            song_id = source_element.id.split("-")[2];
            var data = {'song_id': song_id, 'go_live': false};

            $.ajax({
                type: 'POST',
                url: '{% url 'set.add_song' current_set_id %}',
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                data: data,
                dataType: 'json',
                success: function() {
                    $("#img-addsongtoset-" + song_id).hide();
                    $("#img-removesongfromset-" + song_id).show();
                },
            });
        }

        function removeSongFromSet() {
            source_element = event.srcElement
            song_id = source_element.id.split("-")[2];
            var data = {'song_id': song_id};

            $.ajax({
                type: 'POST',
                url: '{% url 'set.remove_song' current_set_id %}',
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                data: data,
                dataType: 'json',
                success: function() {
                    $("#img-removesongfromset-" + song_id).hide();
                    $("#img-addsongtoset-" + song_id).show();
                },
            });
        }
    {% endif %}

    function setUpAlphabetIndex() {
        var previous = "";

        $("#songlist li").each(function() {
            var current = $(this).text()[0];
            if (current != previous) {
                $(this).attr("id", "first_letter_" + current);
                previous = current;
                $("#alphabet").append("<a href='#first_letter_" + current + "'>" + current + "</a>&nbsp;");
            }
        });
    }

    function filterByKey(key, btn) {
        for (let i = 0; i < 12; i++)
        {
            $('#filterByKey' + i).removeClass("key-filter-button-selected");
        }

        if (key == current_key_filter) {
            current_key_filter = -1;
            $("#songlist li").filter(function() {
                $(this).toggle(true);
            });
        }
        else {
            current_key_filter = key;
            btn.addClass("key-filter-button-selected");
            $("#songlist li").filter(function() {
                $(this).toggle($(this).find('.song-key-index').text() == key)
            });
        }

        saveFilters();
    }

    function highlightLastViewedSong() {
        last_song_num = window.location.hash.substring(1).substring(4);
        $('#song-' + last_song_num).addClass('highlighted-song');
        setTimeout(function() {$('#song-' + last_song_num).removeClass('highlighted-song');}, 1000);
    }

    function applyFilters() {
        key_class = "song-key-" + current_key_filter;
        
        included_tag_classes = []
        for (tag_id of current_tag_incl_filters) {
            included_tag_classes.push("song-tagged-" + tag_id);
        }

        excluded_tag_classes = []
        for (tag_id of current_tag_excl_filters) {
            excluded_tag_classes.push("song-tagged-" + tag_id);
        }

        search_text = $('#filtertext').val().toLowerCase();

        $("#songlist li").each(function() {
            if (current_key_filter > -1 && !$(this).hasClass(key_class)) {
                $(this).hide();
                return;
            }

            if (current_tag_incl_filters.length > 0) {
                show = false;
                for (cl of included_tag_classes) {
                    if ($(this).hasClass(cl)) {
                        show = true;
                    }
                }
                if (!show) {
                    $(this).hide();
                    return;
                }
            }

            if (current_tag_excl_filters.length > 0) {
                for (cl of excluded_tag_classes) {
                    if ($(this).hasClass(cl)) {
                        $(this).hide();
                        return;
                    }
                }
            }

            if (search_text.length > 0) {
                if ($(this).text().toLowerCase().indexOf(search_text) < 0) {
                    $(this).hide();
                    return;
                }
            }

            $(this).show();
        });

        /* Sort out buttons */
        $('.tag-filter-button').each(function(n, e) {
            id_parts = e.id.split('-');
            tag_id = id_parts[id_parts.length - 1];
            if (current_tag_incl_filters.includes(tag_id)) {
                $('#tag-' + tag_id).addClass('tran-selected');
                $('#tag-' + tag_id).removeClass('tran-bad');
            } else if (current_tag_excl_filters.includes(tag_id)) {
                $('#tag-' + tag_id).removeClass('tran-selected');
                $('#tag-' + tag_id).addClass('tran-bad');
            } else {
                $('#tag-' + tag_id).removeClass('tran-selected');
                $('#tag-' + tag_id).removeClass('tran-bad');
            }
        });

        $('.key-filter-button').each(function(n, e) {
            id_parts = e.id.split('-');
            key_id = id_parts[id_parts.length - 1];
            if (current_key_filter == key_id) {
                $('#filter-key-' + key_id).addClass('tran-selected');
            } else {
                $('#filter-key-' + key_id).removeClass('tran-selected');
            }
        });
    }

    function changeKeyFilter(event) {
        id_parts = event.target.id.split('-');
        key_id = id_parts[id_parts.length - 1];

        if (current_key_filter == key_id) {
            current_key_filter = -1;
        } else {
            current_key_filter = key_id;
        }

        applyFilters();
        saveFilters();
    }

    function changeTagFilters(event) {
        id_parts = event.target.id.split('-');
        tag_id = id_parts[id_parts.length - 1];

        if (current_tag_incl_filters.includes(tag_id)) {
            /* Removes item from array, because yay JS */
            current_tag_incl_filters = $.grep(current_tag_incl_filters, function(value) {
                return value != tag_id;
            });
            /* Add it to exclude array */
            current_tag_excl_filters.push(tag_id);
        } else if (current_tag_excl_filters.includes(tag_id)) {
            current_tag_excl_filters = $.grep(current_tag_excl_filters, function(value) {
                return value != tag_id;
            });
        } else {
            current_tag_incl_filters.push(tag_id);
        }

        applyFilters();
        saveFilters();
    }

    function saveFilters() {
        localStorage.setItem('current_tag_incl_filters', current_tag_incl_filters);
        localStorage.setItem('current_tag_excl_filters', current_tag_excl_filters);
        localStorage.setItem('current_key_filter', current_key_filter);
        localStorage.setItem('filter_text', $("#filtertext").val());
    }

    function recallFilters() {
        current_tag_incl_filters = localStorage.getItem('current_tag_incl_filters') || [];
        current_tag_excl_filters = localStorage.getItem('current_tag_excl_filters') || [];
        current_key_filter = localStorage.getItem('current_key_filter') || -1;
        $("#filtertext").val(localStorage.getItem('filter_text') || "");
        
        applyFilters();
    }

    function clearAllFilters() {
        current_tag_incl_filters = [];
        current_tag_excl_filters = [];
        current_key_filter = -1;
        $("#filtertext").val("");

        applyFilters();
        saveFilters();
    }

    $(document).ready(function(){
        $("#filtertext").on("keyup", function() {
            applyFilters(); 
            saveFilters();
        });

        setUpAlphabetIndex();

        $('.key-filter-button').click(changeKeyFilter);

        $('.add-song-to-set-button').on('click', function() {addSongToSet()});
        $('.remove-song-from-set-button').on('click', function() {removeSongFromSet()});

        $('#filters').hide();
        $('#btn-toggle-filters').click(function() {toggleTab('filters');});

        $('.tag-filter-button').click(changeTagFilters);
        $('#btn-clear-all-filters').click(clearAllFilters);
        recallFilters();

        if (current_tag_incl_filters.length > 0 
            || current_tag_excl_filters.length > 0 
            || current_key_filter > -1
            || $("#filtertext").val().length > 0)
        {
            toggleTab('filters');
        }

        highlightLastViewedSong();
    });

{% endblock %}

{% block header %}
    {% include 'rechorder/_header.html' with selected="songs" %}
{% endblock %}

{% block title %}

    <a href="{% url 'song.create' %}">
        <img class="img-actions right-aligned-img" src="{% static 'rechorder/icons/mdi-file-plus-outline.svg' %}">
    </a>

    <h1>Songs</h1><br>

    <ul class="tab-list">
        <li>
            <img class="img-actions" id="btn-toggle-filters" src="{% static 'rechorder/icons/mdi-filter-outline.svg' %}">
        </li>
    </ul>

    <div class="tab-container" id="filters" hidden>
        <table class="filters-table">
            <tr>
                <td><h3>Title:</h3></td><td><input id="filtertext" /></td>
            </tr>
            <tr>
                <td>
                    <h3>Key filter:</h3>
                </td>
                <td>
                    <div id="key-filter-list">
                        {% for key in keys %}
                            <!-- TODO: Re-implement this with radio buttons! -->
                            <button class="key-filter-button" id="filter-key-{{ forloop.counter0 }}">{{ key }}</button>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Tag filter:</h3>
                </td>
                <td>
                    <div id="tag-filter-list">
                        {% for tag in tags %}
                            <button class="tag-filter-button" id="tag-{{ tag.id }}">{{ tag.name }}</button>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="btn-clear-all-filters">Clear all filters</button>
                </td>
            </tr>
        </table>
        
    </div>
{% endblock %}

{% block content %}

    <ul id="songlist" class="main-content-list">
        {% for song in songs %}
        <li class="song-li-all {% for tag in song.tags.all %}song-tagged-{{tag.id}} {% endfor %} song-key-{{ song.original_key }}">
            <div class="song-list-song-container" id="song-{{ song.id }}">
                <div class="song-list-song-details">
                    <span class="song-anchor"><a name="song{{ song.id }}"></a></span>
                    <a href="{% url 'song' song.id %}">
                        <div class="song-in-list">
                            <span class="list-primary">{{ song }}</span><br>
                            <span class="list-secondary">{{ song.artist }}</span>
                            <span class="song-key-index" style="display: none">{{ song.original_key }}</span><br>
                            <span class="list-secondary list-tags">{{ song.tags.all|join:'; ' }}</span>
                        </div>
                    </a>
                </div>
                {% if current_set_id >= 0 %}
                    <div class="song-list-add-to-set">
                        <!-- The format of this ID is important,
                            do not change unless you also change the addSongToSet function -->
                            <input type='image' id="img-addsongtoset-{{ song.id }}"
                                    class="add-song-to-set-button"
                                    src="{% static 'rechorder/icons/mdi-playlist-plus.svg' %}"
                                    {% if song.id in song_ids_in_set %}
                                        style="display: none"
                                    {% endif %}
                                    >
                            <input type='image' id="img-removesongfromset-{{ song.id }}"
                                    class="remove-song-from-set-button"
                                    src="{% static 'rechorder/icons/mdi-playlist-check.svg' %}"
                                    {% if song.id not in song_ids_in_set %}
                                        style="display: none"
                                    {% endif %}
                                    >
                    </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
