{% extends 'rechorder/_base.html' %}

{% block javascript %}
    function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }

    function update() {
        $.ajax({
        url: '{% url 'settings.set' %}',
        type: 'POST',
        headers: { "X-CSRFToken": '{{ csrf_token }}' },
        data: {
            'permitted_shapes': JSON.stringify(getFormData($('#shape-selection'))),
            'display_style': JSON.stringify(getFormData($('#chord-display-style'))),
            'device_name': $('#text-device-name').val(),
        },
    });
    }

    $(function() {
        $('.pressable').each(function(index) {
            $(this).change(update);
            $(this).prop('checked', false);
        });

        {% for index in selected_shapes %}
            $('#check-{{ index }}').prop('checked', true);
        {% endfor %}

        $('#check-{{ chord_display_style }}').prop('checked', true);
        $('#btn-device-name-save').click(update)
        $('#text-device-name').val("{{ device_name|escapejs }}");
    });
{% endblock %}

{% block header %}
    {% include 'rechorder/_header.html' with selected="settings" %}
{% endblock %}

{% block title %}
    <h1>Settings</h1>
{% endblock %}

{% block content %}
    <h2>This Device</h2><br>
    <form id="device-name">
        Name: <input id="text-device-name">
        <button type="button" id="btn-device-name-save">Save</button>
    </form>
    <br>

    <h2>Auto Chord Shapes</h2><br>
    Select chord shape keys you're comfortable with:

    <form id="shape-selection" class="settings-boxes">
        <ul class="yes-no-selection">
            {% for shape in possible_shapes %}
                <li>
                    <input class="pressable" type="checkbox" id="check-{{ shape.index }}" name="{{ shape.index }}">
                    <label for="check-{{ shape.index }}" class="key-label">{{ shape.name }}</label>
                </li>
            {% endfor %}
        </ul>
    </form>

    <h2>Chord display style</h2><br>
    Select how to display chords:
    <form id="chord-display-style" class="settings-boxes">
        <ul class="yes-no-selection">
            <li>
                <input class="pressable" type="radio" id="check-letters" name="chord-display-style" value="letters">
                <label for="check-letters">Letters</label>
            </li>
            <li>
                <input class="pressable" type="radio" id="check-nashville" name="chord-display-style" value="nashville">
                <label for="check-nashville">Nashville</label>
            </li>
            <li>
                <input class="pressable" type="radio" id="check-roman" name="chord-display-style" value="roman">
                <label for="check-roman">Roman Numerals</label>
            </li>
        </ul>
    </form>

    <h2>Beaming</h2><br>
    {% include 'rechorder/_beaming_toggle.html' %}

    <hr>
    <h2>OpenLP Download</h2><br>
    <a href="{% url 'songs.download_xml' %}">Download all songs for in OpenLyric format</a>
{% endblock %}


