{% load static %}

<script type="text/javascript" src="{% static 'songview/js/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'songview/js/font-resize.js' %}"></script>

<h2>Chords</h2><br>
<button class="img-btn-header" id="fs-c-decrease">
    <img src="{% static 'songview/icons/mdi-format-font-size-decrease.svg' %}">
</button>
<button class="img-btn-header" id="fs-c-reset">
    <img src="{% static 'songview/icons/mdi-format-clear.svg' %}">
</button>
<button class="img-btn-header" id="fs-c-increase">
    <img src="{% static 'songview/icons/mdi-format-font-size-increase.svg' %}">
</button>
<br>

<h2>Lyrics</h2><br>

<button class="img-btn-header" id="fs-l-decrease">
    <img src="{% static 'songview/icons/mdi-format-font-size-decrease.svg' %}">
</button>
<button class="img-btn-header" id="fs-l-reset">
    <img src="{% static 'songview/icons/mdi-format-clear.svg' %}">
</button>
<button class="img-btn-header" id="fs-l-increase">
    <img src="{% static 'songview/icons/mdi-format-font-size-increase.svg' %}">
</button>