<html>
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    var initial_set_list = [
        {% for song in set_songs %}
            {
                song_id: {{ song.id }},
                key_index: {{ song.key_index }}
            },
        {% endfor %}
    ];


    function onListChange()
    {
        var idsInOrder = $("#list-sortable").sortable("toArray");

        var new_set = [];
        for (let i = 0; i < idsInOrder.length; i++)
        {
            song_id = idsInOrder[i].split("_")[2];
            index = idsInOrder[i].split("_")[1];

            new_set.push({
                id: parseInt(song_id),
                key_index: parseInt($("#target-key_" + index)[0].value)
            });
        }

        $.ajax({
            type: 'POST',
            url: '{% url 'set.update' %}',
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            data: {new_set: JSON.stringify(new_set)},
            dataType: 'json'
        });
    }


    function clearList() {
        console.log("Clearing list");
        $.ajax({
            url: '{% url 'set.clear' %}',
            /* It seems ajax requires some data for it to work correctly */
            data: {clear: true},
            dataType: 'json',
            success: function (data) {
                location.reload();
            }
        });
    }


    $( function() {
        /* Set up sortable list */
        $("#list-sortable").sortable({update: onListChange});
        $("#list-sortable").disableSelection();
        $("#list-sortable .set-item-delete").click(function() {$(this).parent().remove(); onListChange()});

        $("#btn-clear-set-list").click(clearList);

        for (let i = 0; i < initial_set_list.length; i++) {
            $("#target-key_" + i)[0].value = initial_set_list[i].key_index;
            $("#target-key_" + i).change(onListChange);
        }
    });
    </script>
</head>
<body>

    <h1>Set list{% if set_songs %} - <a href="{% url 'set.song' 0 %}">Go</a>{% endif %}</h1>

    <ul id="list-sortable">
        {% for song in set_songs %}
            <li id="set-item_{{ forloop.counter0 }}_{{ song.id }}">
                <button class="set-item-delete">X</button>
                <a href="{% url 'song' song.id %}">{{ song.title }}</a> in

                <select id="target-key_{{ forloop.counter0 }}">
                {% for key in keys %}
                    <option value="{{ forloop.counter0 }}">{{ key }}</option>
                {% endfor %}
                </select>

            </li>
        {% endfor %}
    </ul>

    {% if set_songs.length > 0 %}
        <button id="btn-clear-set-list">Clear set list</button>
    {% else %}
        Set list currently empty. Why not add some <a href="{% url 'songs' %}">songs</a>?
    {% endif %}

</body>
</html>
