{% extends 'songview/_base.html' %}
{% load static %}

{% block javascript %}
    {% if not am_i_master %}
        function checkForUpdates() {
            $.ajax({
                url: '{% url 'slave_token' set_id %}',
                success: function (data)
                {
                    if (data.update_token != {{ update_token }})
                    {
                        location.reload();
                    }
                }
            });
        }

        $(function() {
            /* Check for an update every second */
            window.setInterval(checkForUpdates, 1000);
        });
    {% endif %}


    {% if am_i_master %}
        function processKeyPress(e) {
            e = e || window.event;

            {% if current_index > 0 %}
                if (e.key == 'PageUp') {
                    if (window.scrollY <= 0)
                    {
                        window.location.href = "{% url 'set.song' current_index|add:'-1' %}";
                    }
                }
            {% endif %}

            {% if current_index < max_index %}
            if (e.key == 'PageDown') {
                if (window.innerHeight + window.scrollY >= document.body.offsetHeight)
                {
                    window.location.href = "{% url 'set.song' current_index|add:'1' %}";
                }
            }
            {% endif %}
        }

        $(function() {
            document.onkeydown = processKeyPress;
        });
    {% endif %}

    function toggleTransposer() {
        $('#transposer').toggle();
        $('#btn-toggle-transposer').toggleClass('img-action-selected');
    }

    $(function() {
        $('#transposer').hide();
        $('#btn-toggle-transposer').click(toggleTransposer);
    });
{% endblock %}

{% block header %}
    {% include 'songview/_header.html' with selected="set" %}
{% endblock %}

{% block title %}
{% if song %}
    <span class="song-title" id="song-title">{{ song.title }}</span>
    <br>
    <span class="song-artist" id="song-artist">{{ song.artist }}</span>
    <br>
    <div class="song-key-info">
        Key of: <span id="key-shown"></span>. Capo: <span id="key-capo"></span>
    </div>

    <img class="img-actions" id="btn-toggle-transposer" src="{% static 'songview/icons/mdi-music-accidental-natural.svg' %}">

    {% include 'songview/_transposer.html' with sk_editable='false' %}
{% else %}
    <h1>No song. Waiting for beaming to start...</h1>
{% endif %}
{% endblock %}

{% block content %}
{% if song %}
    <span id="song">
        {% include "songview/_print_song.html" %}
    </span>
{% endif %}
{% endblock %}
