<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    .block {
      color: maroon;
      float: none;
    }

    .container {
        display: flex;
        justify-content: flex-start;
    }
    </style>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>


</head>
<body>
    <p><a href="{% url 'songs' %}">Back to songs</a></p>

    <h1>{{ song.title }}</h1>
    {{ song.artist }}<br>
    Key of: <span id="key-shown"></span>. Capo: <span id="key-capo"></span>

    <p><a href="{% url 'song.edit' song.pk %}">Edit</a></p>
    <p><a href="{% url 'set.add_song' song.pk %}">Add to set list</a></p>
    <p><a href="{% url 'set.add_song' song.pk %}?golive=1">Add song and go live</a></p>


    {% include "songview/_transposer.html" with sk_editable='true' %}


    <span id="song">
        {% include "songview/_print_song.html" %}
    </span>

</body>
</html>