<html>
<head>
<style>
.block {
  color: maroon;
  float: none;
}

.container {
    display: flex;
    justify-content: flex-start;
}
</style>
</head>
<p><a href="{% url 'songs' %}">Back to songs</a></p>

<p>

<h1>{{ song.title }}</h1>
{{ song.artist }}

Current key: {{ song.key.index }}, {{ song.key }},

<p><a href="{% url 'set.add_song' song_id %}">Add to set list</a></p>

<p>
    <form action="{% url 'song' song_id %}" method="get">
        <select name="target_key" onchange="this.form.submit()">
        {% for key in keys %}
            <option
                    value="{{ forloop.counter0 }}"
                    {% if forloop.counter0 == song.key.index %}selected{% endif %}>
                {{ key }}
            </option>
        {% endfor %}
        </select>
    </form>
</p>

{% include "songview/_print_song.html" %}


</body>
</html>