<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript">
        function saveSong() {
            $('#areyousure').hide();
            $.ajax({
                type: 'POST',
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                url: '{% url 'song.update' song.id %}',
                data: {
                    'title': $('#song-title').val(),
                    'artist':  $('#song-artist').val(),
                    'original_key':  $('#original-key').val(),
                    'content':  $('#song-content').val(),
                },
                dataType: 'json',
                success: function() {
                    $('#success').show();
                },
            });
        }

        function cancelEdit() {
            $('#areyousure-message').text(
                "Are you sure you want to cancel editing? This will lose any changes you had made."
            );

            $('#btn-ays-yes').click(function() {
                window.location = "{% url 'song' song.id %}";
            });
            $('#btn-ays-no').click(function () {
                $('#areyousure').hide();
            });
            $('#areyousure').show();
        }

        function deleteSong() {
            $('#areyousure-message').text(
                "Are you sure you want to delete this song? This is non-reversible."
            );

            $('#btn-ays-yes').click(function() {
                $.ajax({
                    type: 'POST',
                    headers: { "X-CSRFToken": '{{ csrf_token }}' },
                    url: '{% url 'song.delete' song.id %}',
                    dataType: 'json',
                    success: function() {
                        window.location = "{% url 'songs' %}";
                    },
                });
            });
            $('#btn-ays-no').click(function () {
                $('#areyousure').hide();
            });
            $('#areyousure').show();
        }

        $(function() {
            $('#song-title').val("{{ song.title|escapejs }}");
            $('#song-artist').val("{{ song.artist|escapejs }}");
            $('#original-key').val("{{ song.key }}");
            $('#song-content').val("{{ song.raw|escapejs }}");

            $('#btn-save').click(saveSong);
            $('#btn-cancel').click(cancelEdit);
            $('#btn-delete').click(deleteSong);

            $('#areyousure').hide();
            $('#success').hide();
        });
    </script>

</head>
<body>
    <h1>Edit Song</h1>
    <span id="success">Song updated successfully</span>
    <span id="areyousure">
        <span id="areyousure-message"></span>
        <button id="btn-ays-yes">Yes</button>
        <button id="btn-ays-no">No</button>
    </span>

    <br>
    <button id="btn-save">Save</button>
    <button id="btn-cancel">Cancel</button>
    <br>
    <button id="btn-delete">Delete Song</button>

    <br>

    <input id="song-title">
    <input id="song-artist">
    <select id="original-key">
        {% for key in keys %}
            <option value="{{ forloop.counter0 }}">{{ key }}</option>
        {% endfor %}
    </select>

    <br>
    <textarea id="song-content"></textarea>

</body>
</html>