{% extends 'songview/_base.html' %}
{% load static %}

{% block javascript %}
    {% if not am_i_master %}
        function checkForUpdates() {
            $.ajax({
                url: '{% url 'slave_token' set_id %}',
                success: function (data)
                {
                    if (data.update_token != {{ update_token }})
                    {
                        location.reload();
                    }
                }
            });
        }

        $(function() {
            /* Check for an update every second */
            window.setInterval(checkForUpdates, 1000);
        });
    {% endif %}


    {% if am_i_master %}
        function processKeyPress(e) {
            e = e || window.event;

            {% if current_index > 0 %}
                if (e.key == 'PageUp') {
                    if (window.scrollY <= 0)
                    {
                        window.location.href = "{% url 'set.song' current_index|add:'-1' %}";
                    }
                }
            {% endif %}

            {% if current_index < max_index %}
            if (e.key == 'PageDown') {
                if (window.innerHeight + window.scrollY >= document.body.offsetHeight)
                {
                    window.location.href = "{% url 'set.song' current_index|add:'1' %}";
                }
            }
            {% endif %}
        }

        $(function() {
            document.onkeydown = processKeyPress;
        });
    {% endif %}

    function toggleTab(tab) {
        if (tab != 'transposer') {
            $('#transposer').hide();
            $('#btn-toggle-transposer').removeClass('img-action-selected');
        }

        if (tab != 'font-resizer') {
            $('#font-resizer').hide();
            $('#btn-toggle-font-resizer').removeClass('img-action-selected');
        }

        $('#' + tab).toggle();
        $('#btn-toggle-' + tab).toggleClass('img-action-selected');
    }

    $(function() {
        $('#transposer').hide();
        $('#btn-toggle-transposer').click(function() {toggleTab('transposer');});

        $('#font-resizer').hide();
        $('#btn-toggle-font-resizer').click(function() {toggleTab('font-resizer');});
    });
{% endblock %}

{% block header %}
    {% include 'songview/_header.html' with selected="set" %}
{% endblock %}

{% block title %}
{% if song %}
   <h1 id="song-title">{{ song.title }}</h1><br>
    <h2 id="song-artist">{{ song.artist }}</h2><br>
    <h3>Key of: <span id="key-shown"></span>. Capo: <span id="key-capo"></span></h3><br>

    <ul class="tab-list">
        <li><img class="img-actions"
                    id="btn-toggle-transposer" src="{% static 'songview/icons/mdi-music-accidental-natural.svg' %}">
        </li><li>
            <img class='img-actions' id="btn-toggle-font-resizer" src="{% static 'songview/icons/mdi-format-font.svg' %}">
        </li>
    </ul>

    <div class="tab-container" id="transposer">
        {% include 'songview/_transposer.html' with sk_editable='false' %}
    </div>
    <div class="tab-container" id="font-resizer">
    {% include 'songview/_font_resizer.html' %}
    </div>
{% else %}
    <h1>No song. Waiting for beaming to start...</h1>
{% endif %}
{% endblock %}

{% block content %}
{% if song %}
    <span id="song">
        {% include "songview/_print_song.html" %}
    </span>
{% endif %}
{% endblock %}
