@font-face {
    font-family: "GothicA1";
    src:
        url("../fonts/GothicA1/GothicA1-Regular.woff2") format("woff2"),
        url("../fonts/GothicA1/GothicA1-Regular.woff") format("woff"),
        url("../fonts/GothicA1/GothicA1-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "GothicA1";
    src:
        url("../fonts/GothicA1/GothicA1-Bold.woff2") format("woff2"),
        url("../fonts/GothicA1/GothicA1-Bold.woff") format("woff"),
        url("../fonts/GothicA1/GothicA1-Bold.ttf") format("truetype");
    font-weight: 700;
}

body, html {
    font-family: 'GothicA1', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

div, span {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}


form {
    margin: 0;
    padding: 0;
}

.right-aligned-img {
    float: right;
    min-width: 2em;
    width: 2.5em;
    transition-duration: 0.4s;
}

#div-header {
    padding: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #bec1e6;
    z-index: 100;
}

#div-header-images {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

#div-header img {
    padding: 10px;
    min-height: 2em;
    min-width: 2em;
    max-width: 15vw;
    transition: 0.3s;
}

#div-header img:hover {
    background-image: linear-gradient(#bed5e600, #bed5e6ff);
}

#div-header .selected {
    background-color: #bed5e6;
}

#div-content {
    padding: 5px;
}

#div-title {
    width: 100%;
    padding: 5px;
    padding-top: 3.5em;
    margin: 0;
    background-color: #bed5e6;
    overflow: hidden;
}

#adder ul, #transposer ul, #editor ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#adder li:not(:last-child) {
    margin-bottom: 5px;
}

.tran-rad-label {

    color: #626262;
}

.tran-rad:checked ~ label {
    color: black;
}

button, select {
    font-size: large;
    color: #626262;
    font-variant: small-caps;
    text-decoration: none;
    border: 2px solid #626262;
    background-color: white;
    padding: 5px;
    transition: 0.2s;
}

.btn-successful {
    background-color: #c1e6be;
}

.btn-unsuccessful {
    background-color: #e6bec1;
}

@media (hover:hover) {
    button:hover, select:hover, a:hover {
        background-color: #cee0ec;
    }
}

button:selected, select:selected {
    border: 2px solid #303539;
    color: #303539;
    background-color: #ced1ec;
}

button:disabled, select:disabled {
    border: 2px solid #c4c4c4;
    color: #c4c4c4;
    background-color: #d6e5ef;
}

.song-content-edit {
    width: 100%;
    height: 40vh;
}

.img-actions {
    min-width: 2.5em;
    transition-duration: 0.4s;
}

.img-actions:hover {
    background-image: linear-gradient(#bec1e600, #bec1e6ff);
}

.img-action-selected {
    background-color: #bec1e6;
}

h1 {
    font-weight: bold;
    font-size: x-large;
    font-variant: small-caps;
    display: inline;
    margin: 0;
}

h2 {
    font-size: large;
    font-weight: normal;
    font-variant: small-caps;
    display: inline;
    margin: 0;
    color: #626262;
}

h2 a {
    color: #626262;
}

h3 {
    font-size: medium;
    display: inline;
    margin: 0;
    font-weight: normal;
}

#editor-song-content {
    margin-bottom: 5px;
}

#editor-buttons {
    display: flex;
    justify-content: space-between;
}

.code-block {
    background-color: white;
    border: 2px solid black;
    font-family: monospace;
}

/**********************************************************
 * Image buttons
 *********************************************************/

.img-btn {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
}

.img-btn:hover {
    background-color: #cee0ec;
}

.img-btn img {
    min-width: 2em;
}

.img-btn-header {
    padding: 0;
    margin: 0;
    background: white;
}


.img-btn-header img {
    min-width: 2em;
    vertical-align: middle;
}

/**********************************************************
 * Tab list
 *********************************************************/

.tab-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-list li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.tab-list img {
    display: inline;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.tab-container {
    background-color: #bec1e6;
    margin: 0;
    padding: 5px;
}

/**********************************************************
 * Lists
 **********************************************************/

.main-content-list .list-primary {
    font-size: large;
    font-weight: bold;
    font-variant: small-caps;
    color: black;
}

.main-content-list .list-secondary {
    font-size: normal;
    font-weight: normal;
    font-variant: small-caps;
    color: #626262;
}

.main-content-list .list-tertiary {
    font-size: small;
    font-weight: normal;
    font-variant: small-caps;
    color: #626262;
}

.main-content-list li {
    border-left: 4px solid;
    padding-left: 1em;
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px solid;
    border-color: #626262;
    display: flex;
    align-items: center;
    background-color: white;
    transition: 0.2s;
}

.main-content-list li:hover {
    border-color:#bed5e6;
}

.main-content-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-content-list img {
    height: 2em;
    vertical-align: middle;
}

.main-content-list .list-expander {
    flex-grow: 10;
}

.main-content-list a {
    color: black;
}

/**********************************************************
 * Song display
 **********************************************************/

.block {
  float: none;
  padding-bottom: 0.2em;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.section-title {
    font-size: large;
    /*text-decoration: underline;*/
    font-weight: bold;
    padding-top: 0em;
    padding-bottom: 0.3em;
    display: block;
}

.song-section-hr {
    border: 1px solid #E0E0E0;
    margin-top: 0.5em;
    margin-left: 0px;
}

.block-chord {
    font-weight: bold;
    margin-right: 0.2em;
    padding: 2px;
    margin-bottom: 2px;
    height: 1em;
    min-width: 0;
}

mark {
    padding-top: 0.3em;
    background-color: #c1e6be;
}

.block-lyric {
    padding-top: 0.3em;
}

/**********************************************************
 * Songs
 **********************************************************/

#key-filter-list {
    display: flex;
    flex-flow: row wrap;

}

.key-filter-button {
    width: 3em;
    margin: 2px;
}

/* Horrible hack to get around my inability to get CSS media queries' hover to work properly */
.key-filter-button:hover {
    background-color: white;
    color: black;
}

.key-filter-button-selected, .key-filter-button-selected:hover {
    background-color: #ced1ec;
}

/**********************************************************
 * Song list
 **********************************************************/

#songlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.song-in-list .name {
    font-size: large;
    font-weight: bold;
    font-variant: small-caps;
    color: black;
}

.song-in-list .artist {
    font-size: normal;
    font-weight: normal;
    font-variant: small-caps;
    color: #626262;
}

.song-in-list .key {
    font-size: small;
    font-weight: normal;
    font-variant: small-caps;
    color: #626262;
}

.song-in-list,  {
    border-left: 4px solid;
    padding-left: 1em;
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px solid;
    border-color: #626262;
}

.song-in-list:hover {
    border-color:#bed5e6;
}

.song-anchor {
    position: absolute;
    transform: translateY(-30vh);
}

/**********************************************************
 * Set list
 **********************************************************/

.sortable-list li {
    padding-left: 0;
}


/**********************************************************
 * Song in set specifics
 **********************************************************/

#set-nav-btns {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
}

#set-nav-btns img {
    min-width: 45vw;
    max-height: 45vh;
    opacity: 0.1;
}


/**********************************************************
 * Chord shape checkboxes
 **********************************************************/

.settings-boxes ul {
    display: flex;
    list-style: None;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: left;
}

.key-label {
    width: 3em;
    display: inline-block;
    text-align: center;
    vertical-align: center;
}

.settings-boxes input {
    position: absolute;
    left: -9999px;
}

.settings-boxes input + label {
    font-size: large;
    color: #626262;
    font-variant: small-caps;
    text-decoration: none;
    border: 2px solid #626262;
    background-color: #e6bec1;
    height: 1.3em;
    padding: 5px;
    transition: 0.2s;
}

.yes-no-selection input:checked + label {
    background-color: #c1e6be;
}

.yes-no-selection li {
    margin: 2.5px;
}

/**********************************************************
 * Paginator
 **********************************************************/

.paginator {
    text-align: center;
    font-variant: small-caps;
    font-size: large;
}

.paginator img {
    height: 2em;
    vertical-align: middle;
}

.paginator img:hover {
    background-color: #cee0ec;
}

.paginator a:hover {
    background: none;
}

.paginator-spacer {
    display: inline-block;
    /* A guess at the width of the two images that would normally be here */
    width: 4.4em;
}

/**********************************************************
 * Printing
 **********************************************************/

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}
